[build]
  command = "npm run build"
  publish = "dist"

[build.processing]
  skip_processing = true

[build.processing.css]
  bundle = false
  minify = false
  fingerprint = false

[build.processing.js]
  bundle = false
  minify = false
  fingerprint = false